{% extends "home.html" %} {% block title %}Shop{% endblock %} 

{% block content%}

<h2>Products</h2>

<div class="card">
  <h4>Product 1</h4>
  <p>$10</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 2</h4>
  <p>$20</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 3</h4>
  <p>$30</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 4</h4>
  <p>$13</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 5</h4>
  <p>$40</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 6</h4>
  <p>$89</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 7</h4>
  <p>$29</p>
  <button>Add to Cart</button>
</div>

<div class="card">
  <h4>Product 8</h4>
  <p>$32</p>
  <button>Add to Cart</button>
</div>

{% endblock %}
